<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Blocks</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<script type='text/javascript' src='js/mobile.js'></script>
</head>
<body>
	<div id="header">
		<h1><a href="index.html">Recycle Coin <span>Blocks</span></a></h1>
		<ul id="navigation">
			<li class="current">
				@Html.ActionLink("Home", "Index", "Home")
			</li>
			<li>
				@Html.ActionLink("Transaction", "Transact", "Home")
			</li>
			<li>
				@Html.ActionLink("Mine Transactions", "MineTransactions", "Home")
			</li>
			<li>
				@Html.ActionLink("Wallet", "Wallet", "Home")
			</li>

		</ul>
	</div>
	<div id="body">
		<div id="tagline">
			@RenderBody()
		</div>
	</div>
	<div id="footer">
		<div>
			<span>Blockchain & Cryptocurrency</span>
			<p>
				&copy; 2023 by CBU Students. All rights not reserved.
			</p>
		</div>
		<div id="connect">
			<a href=# id="facebook" target="_blank">Facebook</a>
			<a href=# id="twitter" target="_blank">Twitter</a>
			<a href=# id="googleplus" target="_blank">Google&#43;</a>
		</div>
	</div>
</body>
</html>